body {
    background-color: black;
}

.block {
    width: 64px;
    height: 64px;
    margin: 12px;
    display: inline-block;
}

.hour {
    background-color: #F15A5A;
}

.minute {
    background-color: #2D95BF;
}

.second {
    background-color: #F0C419;
}

.disabled {
    opacity: .1;
}
